{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% set users_default = [{name: 'John'}, {name: 'Susan'}] %}
{% set string = "Some string \n from \n database" %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			{{ 'symfony.learning'|transchoice(choice) }}
			{% trans %}
				Symfony jest <b>super</b>
			{% endtrans %}! 
			{% trans %}
				some.key
			{% endtrans %}
			{% trans %}
				some.test
			{% endtrans %}!
		</h1>
		<h1>Hello {{ controller_name|upper }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/var/www/html/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/var/www/html/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a>
				</code>
			</li>
		</ul>

		{% if form is defined %}
		<div style="margin: .5em 0; padding: 2em; border-radius: 1em; border: 1px grey dotted; ">

			{{ form_start(form) }}

			{{ form_label(form.title) }}
			{{ form_widget(form.title) }}
			{% if form.created_at is defined %}
				{{ form_label(form.created_at) }}
				{{ form_widget(form.created_at) }}
			{% endif %}
			{{ form_label(form.file) }}
			{{ form_widget(form.file) }}
			{{ form_label(form.agreeTerms) }}
			{{ form_widget(form.agreeTerms) }}
			{{ form_label(form.save) }}
			{{ form_widget(form.save) }}

			{{ form_end(form) }}

			<!-- {{ form(form) }} -->

			<!-- {{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }} -->
		</div>
		{% endif %}

		<div class="custom">
			GA Code is {{ ga_code }}	
		</div>

		<ul>
			{% for user in users_default %}
				<li>{{ user.name }} - you won {{ random_gift[loop.index0] }}</li>
			{% endfor %}
		</ul>

		{% for label, messages in app.flashes %}
			{{ label }}
			{% for message in messages %}
				<div class="flash-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		{{ include('includes/subview.html.twig', {'users': users}) }}

		{% for i in 1..24 %}
		<span class="{{ cycle(['even', 'odd'], i) }}">
			{{ i }}
		</span>
		{% endfor %}

		<br>{{ path('home') }}
		<br>{{ url('home') }}
		<br>{{ asset('images/logo.png') }}
		<br>{{ absolute_url(asset('images/logo.png')) }}
		<img src="{{ absolute_url(asset('images/logo.png')) }}" alt="Symfony 4 Course" />
		{{ string|escape('html') }}

		{% if app.user %}
			<a href="{{ path('logout' )}}">Logout</a>
		{% else %}
			<a href="{{ path('login' )}}">Login</a>
		{% endif %}
	</div>

	{{render(controller(
		'App\\Controller\\DefaultController::mostPopularPosts',
		{ 'number' : 1 }
	))}}

	<!-- {{app.user}}
	{{app.request.get('param')}}
	{{app.environment}}
	{{dump(app.session)}} -->
{% endblock %}

{% block javascripts %}
<script>
	let route = "{{ string|escape('js') }}"
	console.log(route)
	console.log(5)
</script>
{{ parent() }}
{% endblock %}